body{
  background-color: black;
  color: #eaeaea;
  margin: 0;
  padding: 1em;
  text-align: center;
}

@keyframes topFadeOut {
			0% {
				position: absolute;
				top: -10%;
				opacity: 0;
			}
			75% {
				position: absolute;
				top: 25%;
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}

		@keyframes bottomFadeOut {
			0% {
				position: absolute;
				bottom: -10%;
				opacity: 0;
			}
			75% {
				position: absolute;
				bottom: 25%;
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -10%;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -10%;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10%;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

/* rem is root em */
.first-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-duration: 7s;
}

.second-text {
  font-size: 7em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 7s;
  animation-duration: 7s;
}

.third-text {
  font-size: 3em;
  position: absolute;
  top: 10%;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 7s;
  animation-duration: 5s;
  color: red;
}

.fourth-text {
  transform: rotate(-90deg);
  font-size: 5em;
  position: absolute;
  left: 75%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 7.2s;
  animation-duration: 6s;
  color: red;
  white-space: nowrap;
}

.fifth-text {
  font-size: 3em;
  position: absolute;
  top: 20%;
  left: 10%;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 7.5s;
  animation-duration: 5s;
}

.sixth-text {
  font-size: 5em;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: red;
  animation-name: bottomFadeOut;
  animation-delay: 7.5s;
  animation-duration: 5s;
}

.seventh-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 14s;
  animation-duration: 7s;
}

.eighth-text {
  font-size: 7em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 21s;
  animation-duration: 7s;
}

.ninth-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 28s;
  animation-duration: 7s;
}

.tenth-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 35s;
  animation-duration: 0.3s;
}

.eleventh-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 35.3s;
  animation-duration: 0.3s;
}

.twelfth-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 35.6s;
  animation-duration: 0.3s;
}

.thirteenth-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 35.9s;
  animation-duration: 0.3s;
}

.fourteenth-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 36.2s;
  animation-duration: 0.3s;
}

.fifteenth-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 36.5s;
  animation-duration: 0.3s;
}

.sixteenth-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 36.8s;
  animation-duration: 0.3s;
}

.seventeenth-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 37.1s;
  animation-duration: 0.3s;
}

.eighteenth-text {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0;
  color: red;
  animation-name: fadeInOut;
  animation-delay: 37.4s;
  animation-duration: 0.3s;
}