body {
    background-color: black;
}

.svgimages {
    /*height: 1052px;
    width: 744px;*/
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

/* Overall: Moves part 1 up. */
@keyframes moveFrameUp {
    0%   { top: 0% }
    100% { top: 100% }
}

@keyframes moveFrameDown {
    0%   { bottom: 100% }
    100% { bottom: 0% }
}

.nightsky {
    position: absolute;
    animation: moveFrameUp 3s ease-in-out forwards;
    animation-delay: 10s;
}

.space {
    bottom: 100%;
    position: absolute;
    animation: moveFrameDown 3s ease-in-out forwards;
    animation-delay: 10s;
}

/* The follow is css for the svg file */
/* Part 1: Nightsky, affects nightsky.min.svg */
@keyframes blinky {
    0%   { opacity: 1 }
    50%  { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes sway {
    0%   { transform: rotate(.30deg) }
    50%   { transform: rotate(-.15deg) }
    100%  { transform: rotate(.30deg) }
}

.otherobj {
    opacity: 1;
}

.swayer .sway1 {
    opacity: 1;
    animation: sway 3.5s ease-in-out forwards infinite;
}

.swayer .sway2 {
    opacity: 1;
    /* transform-origin: 0 0; */
    animation: sway 4s ease-in-out forwards infinite;
}

.swayer .sway3 {
    opacity: 1;
    /* transform-origin: 0 0; */
    animation: sway 4.5s ease-in-out forwards infinite;
}

.swayer .sway4 {
    opacity: 1;
    /* transform-origin: 0 0; */
    animation: sway 3s ease-in-out forwards infinite;
}

.blinkystar .nightskyblink1 {
    animation: blinky 5s ease-in-out infinite;
    animation-delay: 1s;
}

.blinkystar .nightskyblink2 {
    animation: blinky 5s ease-in-out infinite;
    animation-delay: 2s;
}

.blinkystar .nightskyblink3 {
    animation: blinky 5s ease-in-out infinite;
    animation-delay: 3s;
}

.blinkystar .nightskyblink4 {
    animation: blinky 5s ease-in-out infinite;
    animation-delay: 4s;
}

.blinkystar .nightskyblink5 {
    animation: blinky 5s ease-in-out infinite;
    animation-delay: 3.5s;
}

/* Part 2: Space, affects space.min.svg */

@keyframes move0 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(0, -500px, 0); }
    100%   { transform: translate3D(0, -500px, 0); }
}

@keyframes move23 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(250px, -500px, 0); }
    100%   { transform: translate3D(250px, -500px, 0); }
}

@keyframes move45 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(500px, -500px, 0); }
    100%   { transform: translate3D(500px, -500px, 0); }
}

@keyframes move68 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(500px, -250px, 0); }
    100%   { transform: translate3D(500px, -250px, 0); }
}

@keyframes move90 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(500px, 0, 0); }
    100%   { transform: translate3D(500px, 0, 0); }
}

@keyframes move113 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(500px, 250px, 0); }
    100%   { transform: translate3D(500px, 250px, 0); }
}

@keyframes move135 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(500px, 500px, 0); }
    100%   { transform: translate3D(500px, 500px, 0); }
}

@keyframes move158 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(250px, 500px, 0); }
    100%   { transform: translate3D(250px, 500px, 0); }
}

@keyframes move180 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(0, 500px, 0); }
    100%   { transform: translate3D(0, 500px, 0); }
}

@keyframes move203 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(-250px, 500px, 0); }
    100%   { transform: translate3D(-250px, 500px, 0); }
}

@keyframes move225 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(-500px, 500px, 0); }
    100%   { transform: translate3D(-500px, 500px, 0); }
}

@keyframes move248 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(-500px, 250px, 0); }
    100%   { transform: translate3D(-500px, 250px, 0); }
}

@keyframes move270 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(-500px, 0, 0); }
    100%   { transform: translate3D(-500px, 0, 0); }
}

@keyframes move293 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(-500px, -250px, 0); }
    100%   { transform: translate3D(-500px, -250px, 0); }
}

@keyframes move315 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(-500px, -500px, 0); }
    100%   { transform: translate3D(-500px, -500px, 0); }
}

@keyframes move328 {
    0%     { opacity: 1; }
    70%    { transform: translate3D(-250px, -500px, 0); }
    100%   { transform: translate3D(-250px, -500px, 0); }
}

/*
.starpatch1 {
    animation-name: blink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
*/

/* Below all animation is delayed 12 second to allow for first animation to be done. */
.lightspeed1 {
    animation: move135 10s ease-in forwards;
    animation-delay: 12s;
}

.lightspeed2 {
    animation: move68 10s ease-in forwards;
    animation-delay: 12s;
}

.lightspeed3 {
    animation: move225 10s ease-in forwards;
    animation-delay: 12s;
}

.lightspeed4 {
    animation: move23 10s ease-in forwards;
    animation-delay: 12s;
}

.lightspeed5 {
    animation: move203 10s ease-in forwards;
    animation-delay: 12s;
}

.lightspeed6 {
    animation: move315 10s ease-in forwards;
    animation-delay: 12s;
}

.lightspeed7 {
    animation: move0 10s ease-in forwards;
    animation-delay: 12s;
}

.lightspeed8 {
    animation: move158 10s ease-in forwards;
    animation-delay: 12s;
}

.lightspeed9 {
    animation: move113 10s ease-in forwards;
    animation-delay: 12s;
}

.distancestar .incoming1 {
    opacity: 0;
    animation: move315 4s 5;
    animation-delay: 15.2s;
}

.distancestar .incoming2 {
    opacity: 0;
    animation: move328 4s 5;
    animation-delay: 16s;
}

.distancestar .incoming3 {
    opacity: 0;
    animation: move0 4s 5;
    animation-delay: 18.8s;
}

.distancestar .incoming4 {
    opacity: 0;
    animation: move68 4s 5;
    animation-delay: 16.8s;
}

.distancestar .incoming5 {
    opacity: 0;
    animation: move90 4s 5;
    animation-delay: 17.6s;
}

.distancestar .incoming6 {
    opacity: 0;
    animation: move225 4s 5;
    animation-delay: 15.36s;
}

.distancestar .incoming7 {
    opacity: 0;
    animation: move135 4s 5;
    animation-delay: 16.4s;
}

.distancestar .incoming8 {
    opacity: 0;
    animation: move180 4s 5;
    animation-delay: 15.6s;
}

.distancestar .incoming9 {
    opacity: 0;
    animation: move270 4s 5;
    animation-delay: 18s;
}