#chatLog {
    border: 2px solid #000;
    margin: 1em;
}

#playerList {
    border: 2px solid #000;
    margin: 1em;
}

#chatLog {
    border: 2px solid #000;
    margin: 1em;
    overflow-y: scroll;
    height: 200px;
}

#chatHistory {
    border: 2px solid #000;
    margin: 1em;
    overflow-y: scroll;
    height: 200px;
}

#gameViewPort {
    
}

#map {
    position : absolute;
}

#mapObjects {
    position : absolute;
}