#playerList {
    border: 2px solid #000;
    margin: 1em;
}

#chatLogContainer{
    position: relative;
    border: 2px solid #000;
    margin: 1em;
    margin-bottom: 0;
    height: 200px;
}

#chatLog {
    /* border: 2px solid #000; */
    margin-bottom: 0;
    overflow-y: scroll;
    height: 80%;
}

#chatInputBox {
    border: 2px solid #000;
    margin: 1em;
    position: relative;
    top: 0px;
}

#chatHistory {
    position: relative;
    border: 2px solid #000;
    margin: 1em;
    overflow-y: scroll;
    height: 200px;
}

#chatHistoryButton {
    position: relative;
    top: 0;
}

#gameViewPort {
    
}

#map {
    position : absolute;
}

#mapObjects {
    position : absolute;
}